<app-sidebar></app-sidebar>
<div class="container">
  <p>In the human body, blood does a series of essential set of tasks in order the body to survive. such as,</p>

  <h2>
    (A)    Transportation<br>(B)    Regulation<br>(C)    Protection
  </h2>
<br><br>
  <h3>Transportation done by blood</h3><br>
  <ul>
    <li>Transportation of respiratory gases</li>
  </ul>
  <p>Oxygen is essential for living cells. Blood taka up this gas from the lungs and transport to other cells
    incorporated
    into red cells in a substance called oxygenated-hemoglobin. Carbon dioxide is produced due to the metabolic
    activities
    of the living cells and blood helps to transport this gas to the lungs to eliminate. Carbon dioxide is transported
    mainly as bicarbonate dissolved in blood.</p>
  <ul>
    <li>Transportation of Nutrients</li>
  </ul>
  <p>Complex substances in our diet are digested into absorbable nutrients like glucose, amino acids, fatty acids,
    vitamins and minerals. These are absorbed into the blood through the gastrointestinal system and circulated
    throughout
    the body.</p>
  <ul>
    <li>Transportation of waste products</li>
  </ul>
  <p>Waste products are transported to the appropriate organs for excretion.&nbsp; For example urea and ammonia are diverted
  into kidneys to be excreted as urine and Carbon dioxide is transported into the lungs to eliminate form the
    body</p>
  <ul>
    <li>Transportation of other substances</li>
  </ul>
  <p>Whatever the substance is to reach a destination within the body it needs the help of blood because blood is the
    transport system of the body. For example if you take a medicine either as a tablet or as an injection it enters
    into
    the blood circulation to reach the site of action. Hormones produced by endocrine glands are also released into the
    blood to reach their destination.</p>

  <br>
  <h3>Regulation by blood</h3>
  <p>Human bodies have optimal functionality only if the conditions inside the body are regulated in relatively constant
    and stable levels. This regulation is called homeostasis. Blood and the circulatory system are directly related to
    the homeostasis. Body temperature, acid base balance or pH and blood pressure are important parameters maintained within
    stable levels.</p>

  <br>
  <h3>Protection by blood</h3>
  <p>Protection from micro organisms like virus, bacteria and fungi is the responsibility of the immune system. White
    blood cells directly engulf some of these pathogens and this process is known as phagocytosis. Immuno-globulins and
    antitoxins dissolved in the blood are also helpful to protect against microbes.</p>
  <p>Protection against bleeding is another important role of blood. Platelets and a cascade of plasma proteins known as
    clotting factors are important to form a blood clot and to stop bleeding when there is damage to a blood vessel by
    injury.</p>
</div>
