
<div class="sidebar col-md-2 bg-dark">
  <ul class="nav flex-column">
    <li>
      <a class="nav-link" (click)="toHome()">Home</a>
    </li>
    <li>
      <a class="nav-link" (click)="toProfile()" )>Profile</a>
    </li>
  </ul>

  <ul class="nav flex-column">
    <li>
      <a class="non-link">Things to know</a>
    </li>
    <li>
      <a class="nav-link" (click)="toAboutBlood()">About Blood</a>
    </li>
    <li>
      <a class="nav-link" (click)="toBloodFn()">Functions of Blood</a>
    </li>
    <li>
      <a class="nav-link " (click)="toDonateBlood()">Why Donate?</a>
    </li>
  </ul>
</div>





