<div class="container">
  <p><strong>Blood donation is the ONLY WAY to provide blood to those in need of it.</strong></p>
  <br>

  <p>The ABO blood group system was discovered by Karl Landsteiner in 1900. 46 years later (1946) the Blood Transfusion
    Service was formed. In 1950 the National Blood Service was formed to collect and provide blood supplies for all the
    hospitals in Sri Lanka.</p>
  <p>Blood comes in four main types - O, A, B and AB. Group O is the most common which means it is in high demand. Blood
    can also be subdivided into its main components and they are, red cells, white cells, platelets and plasma. Unfortunately
    red cells only have a shelf-life of 35 or 42 days, while platelets shelf life is even less, only five days.</p>
  <p><strong>Almost anyone between the ages of 18 and 55 can become a new blood donor. And those who are regular donors can
    continue to donate till 60.</strong></p>
  <p>The average adult has around 5 trillion red blood cells in one litre of blood. Which means you have on average 25
    trillion red cells running around inside you, although 25 million (or 0.1%) of them die every day. That works out at
    roughly 300 a second.</p>
  <p>Depending on whether one's blood contains an antigen which can also be found in the blood of rhesus monkeys, Blood
    groups are further divided in to positive (+) and negative (-) sub groups.</p>
  <p> </p>
  <p>Likewise there are eight different types of blood groups.</p><br>
  <div class="list-group">
    <ul>
      <li class="d-flex">A negative</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">A positive</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">B negative</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">B positive</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">AB negative</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">AB positive</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">O negative</li>
      <!--</ul>-->
      <!--<ul>-->
      <li class="d-flex">O positive</li>
    </ul>
    <br><br>
    <p>Among all of this blood groups not all blood groups are compatible with each other hence need to consider the
      compatibility of blood groups before transfusion</p>
    <br>
    <table>

      <tr>
        <td>
          Blood Group
        </td>
        <td>
          Compatible Blood Groups
        </td>
      </tr>
      <tr>
        <td>
          A-
        </td>
        <td>
          A-, O-
        </td>
      </tr>
      <tr>
        <td>
          A+
        </td>
        <td>
          A+, A-, O+, O-
        </td>
      </tr>
      <tr>
        <td>
          B-
        </td>
        <td>
          B-, O-
        </td>
      </tr>
      <tr>
        <td>
          B+
        </td>
        <td>
          B+, B-, O+, O-
        </td>
      </tr>
      <tr>
        <td>
          AB-
        </td>
        <td>
          AB-, A-, B-, O-
        </td>
      </tr>
      <tr>
        <td>
          AB+
        </td>
        <td>
          Compatible with all groups
        </td>
      </tr>
      <tr>
        <td>
          O-
        </td>
        <td>
          O-
        </td>
      </tr>
      <tr>
        <td>
          O+
        </td>
        <td>
          O+, O-
        </td>
      </tr>

    </table>
  </div>
  <br><br>

  <p>As the table suggests O group has the least number of compatible blood groups. However 90% of the population has O
    type blood which makes it the most common blood type and also the most needed blood type.</p>

</div>
